.movies-card{
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 26px;
}

.elements{

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px,360px));
    grid-gap: 58px 30px;
    margin: 51px auto 26px;
    color: black;
    align-content: center;
    min-height: 40vh;
    justify-content: center;
}
/* 
.elements{
    padding-top: 70px;
    padding-bottom: 26px;
    width: 100%;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-columns: repeat(auto-fill, minmax(min-content, max-content));
    grid-gap: 58px 30px;
    margin: 0 auto;
    color: black;
    align-content: center;
    min-height: 40vh;
} */

@media screen and (max-width: 1100px) {
    .elements {
        grid-template-columns: repeat(1, minmax(339px,339px));
        grid-gap: 45px 30px;
    }
}

@media screen and (max-width: 600px) {
    .elements {
        grid-template-columns: repeat(1, minmax(282px,282px));
    }
}