.elements{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px,360px));
    grid-gap: 58px 30px;
    margin: 66px auto 26px;
    color: black;
    align-content: center;
    min-height: 40vh;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .elements{
        margin-top: 80px;
        grid-template-columns: repeat(auto-fill, minmax(339px,339px));
        grid-gap: 45px 29px;
        margin-bottom: 10px;
    }
}

/* @media screen and (max-width: 1100px) {
    .elements {
        grid-template-columns: repeat(1, minmax(339px,339px));
        grid-gap: 45px 30px;
    }
} */

@media screen and (max-width: 600px) {
    .elements {
        /* grid-template-columns: repeat(1, minmax(282px,282px)); */
    }
}


