.movies{
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 910px) {
    .movies{
        padding-left: 30px;
		padding-right: 30px;
    }
}