.section-title {
	border-bottom: 1px solid #DADADA;
	align-self: flex-start;
	width: 100%;
}

.section-title__title {
	max-width: 600px;
	font-weight: 400;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.04em;
	margin: 0 0 23px;
}

@media screen and (max-width: 800px) {
	.section-title__title {
		max-width: 78%;
	}
}
@media screen and (max-width: 350px) {
	.section-title__title {
		max-width: 88%;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 28px;
	}
	.section-title_border-black{
		border-color: #000;
	}
}
