.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 74px;
}

.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}

.profile__form {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    margin-top: 123px;
    margin-bottom: 16px;
}

.profile__form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile__input {
    background-color: transparent;
    border: none;
    border-bottom: solid #424242 1px;
    outline: none;
    text-align: end;
    padding-bottom: 16px;
    width: 410px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
}

.profile__input:nth-last-child(2) {
    margin-bottom: 220px;
    padding-top: 17px;
    padding-bottom: 0;  
    border: none;
}

.form__label {
    position: absolute;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    height: 30px;
    width: 40px;
    transition: font-size 0.15s ease-in-out;
}

.form__label_name {
    top: 1px;
    left: 2px;
}

.form__label_email {
    top: 48px;
    left: 2px;
}

.profile__input:focus+.form__label {
    font-size: 12px;
}

.profile__button {
    border: none;
    background-color: transparent;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}

.profile__button_submit {
    font-weight: 400;
    color: #fff;
}

.profile__button_exit-profile {
    font-weight: 500;
    color: #EE3465;
    width: 410px;
    margin-bottom: 70px;
}

.profile__button:hover {
    opacity: .6;
}