.nav-link{
    text-align: center;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    transition: opacity .3s ease-in-out;
}
.nav-link_burger{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.nav-link_register{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.nav-link:hover {
    opacity: .6;
}