.header{
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
}

.header__logo{
    width: 38px;
    height: 38px;
}

.header__links-and-button{
    display: flex;
    flex-direction: row;

}

.header__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__burger{
    display: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    background-image: url(../../images/header-burger.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: opacity .3s ease-in-out;
}
.header__burger:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .header{
        padding: 0 30px;
    }
	.header__links-and-button {
		display: none;
	}
    .header__burger{
        display: block;
    }
}